.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color:#00000;
}

select:invalid
select: option[value=""] {
    color: #aab7c4 !important;
}

